/* Map section styles */
#map {
    height: 400px;
    width: 50%;
    margin: 0 auto; /* Center the map */
}

.container {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

.address {
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 1200px) {
    #map {
        width: 60%;
    }
}
@media (max-width: 992px) {
    #map {
        width: 70%;
    }
}
@media (max-width: 768px) {
    #map {
        width: 80%;
    }
}
@media (max-width: 576px) {
    #map {
        width: 90%;
    }
}
@media (max-width: 400px) {
    #map {
        width: 100%;
    }
}
